<h1><%= @dinosaur.name %></h1>

<p>Age: <%= @dinosaur.age %></p>
<%= image_tag @dinosaur.image_url %>

<hr>

<%= link_to "[Edit]", edit_dinosaur_path(@dinosaur.id) %>
<%= link_to "[Delete]", dinosaur_path( @dinosaur.id ), method: :delete, data: { confirm: "Are you sure?" } %>
